<?xml version="1.0" ?>
<model>
    <name>room</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>zch</name>
        <email>zhao20201114@163.com</email>
    </author>
    <description>a room for multi-robot's navigation and leader-follower</description>
</model>
